<style>
    img.full-width {
        width: 100%;
        height: auto;
    }
</style>

<h1>Welcome to Munich</h1>
<img src="/img/munich.jpg" alt="Munich" class="full-width">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio vero eligendi vel laudantium nobis sequi recusandae</p>
