<nav class="navbar navbar-expand-lg primary-color-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="/img/logo.png" width="275px" alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="/navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/home">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/nightlife">Nightlife</a>
        </li>
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/sports">Sports</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link secondary-color-light" href="/food-drink">Food-Drink</a>
        </li>                       
        <li class="nav-item dropdown">
          <a class="nav-link secondary-color-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Places to see
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/allianz-arena">Allianz Arena</a></li>
            <li><a class="dropdown-item" href="/frauenkirche">Frauenkirche</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/olympic-park">Olympic Park</a></li>
            <li><a class="dropdown-item" href="/bmw-welt">BMW Welt</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>